/** GLOBAL start **/
#hcWidget16232720141810 {
    border-width: 2px;
    border-style: solid;
    padding:10px;
    text-align: center;
    font-size: 12px !important;
    font-family: arial,helvetica,sans-serif !important;
    border-color: #dadada !important;
    background-color: #f2f2f2 !important;
}
#hcWidget16232720141810 a,
#hcWidget16232720141810 span,
#hcWidget16232720141810 div,
#hcWidget16232720141810 strong,
#hcWidget16232720141810 h1,
#hcWidget16232720141810 h2 {
    color: #143764 !important;
}
#hcWidget16232720141810 h1 a {
    text-decoration: none;
}
#hcWidget16232720141810 #hcWidgetPulsline {
    background: url("/holidaycheck_images/element_box/boxhome_headline_bg.gif") no-repeat scroll 0 0 transparent !important;
    color: #FFFFFF !important;
    font-size: 12px;
    margin: -10px -10px 10px !important;
    padding: 4px 8px 16px !important;
    text-align: left;
    font-weight: bold;
}
#hcWidget16232720141810 #poweredBy {
    text-align: left;
    font-size: 9px;
    color: #9C9C9C !important;
}
#hcWidget16232720141810 img.scaled {
    width: 70px !important;
}
#hcWidget16232720141810 .clearFix,
#hcWidget16232720141810 .hcWidgetClearFix {
    clear:both;
}
#hcWidget16232720141810 .hcWidgetFloatLeft,
#hcWidget16232720141810 .floatLeft {
    float:left;
}
#hcWidget16232720141810 .floatRight,
#hcWidget16232720141810 .hcWidgetFloatRight {
    float:right;
}
#hcWidget16232720141810 #hcWidgetLogo {
    width: 0;
}
#hcWidget16232720141810 .hcWidgetLogoLeft {
    float:left;
}
#hcWidget16232720141810 .hcWidgetLogoRight {
    float: right;
}
#hcWidget16232720141810 .hcWidgetLogoRight img {
    position: absolute;
    margin-left: -118px;
    border: none;
}
#hcWidget16232720141810 .hcWidgetLogoLeft img {
    position: absolute;
    margin-left: -12px;
    border: none;
}
#hcWidget16232720141810 #hcWidgetImage, #hcWidget16232720141810 #hcWidgetContent {
    margin: 0 auto;
    margin-top: 15px;
    text-align: left;
    width: 140px;
}
#hcWidget16232720141810 #hcWidgetImage img {
    border: none;
}
#hcWidget16232720141810 #hcWidgetHeadline {
    color: #325FAA;
    font-size: 16px;
    line-height: 19px
}
#hcWidget16232720141810 #hcWidgetLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#hcWidget16232720141810 #hcWidgetButtonHelper {
    height: 24px;
}
#hcWidget16232720141810 #hcWidgetButton {
    cursor: default;
    margin: 0 0 15px;
}
#hcWidget16232720141810 #hcWidgetButton a {
    padding-right: 8px;
    display: block;
    color: #143764;
    cursor: pointer;
    background-position: right -237px;
    background-repeat: no-repeat;
    font-weight: bold;
    text-decoration: none;
    background-image: url("/holidaycheck_images/element_sprite/sprite_global_de.png");
}
#hcWidget16232720141810 #hcWidgetButton span {
    text-align: center;
    margin: 0;
    padding: 4px 0 2px 7px;
    background-image: url("/holidaycheck_images/element_sprite/sprite_global_de.png");
    background-position: 0 -125px;
    display: block;
    height: 19px;
}
#hcWidget16232720141810 .hcWidgetFactbox {
    margin-top: 5px;
    float:left;
    margin-bottom: 10px;
}
#hcWidget16232720141810 .hcWidgetFactbox span {
    text-align: center;
    display: block;
    padding-top: 5px;
    font-weight: bold;
}
#hcWidget16232720141810 .hcWidgetFactboxContent {
    background-image: url(/holidaycheck_images/widget/factbox_right.png);
    background-position: top right;
    background-repeat: no-repeat;
    height: 25px;
    margin-top: 1px;
    float:left;
}
#hcWidget16232720141810 .hcWidgetFactboxlogo {
    width: 25px;
    height: 25px;
    float:left;
    margin-top: 1px;
}
#hcWidget16232720141810 #hcWidgetRating .hcWidgetFactboxlogo {
    background-image: url(/holidaycheck_images/widget/factbox_rate_left.png);
}
#hcWidget16232720141810 #hcWidgetRecommendation .hcWidgetFactboxlogo {
    background-image: url(/holidaycheck_images/widget/factbox_sun_left.png);
}
#hcWidget16232720141810 .ratingBarPrint {
    display: none;
}
#hcWidget16232720141810 .ratingBarActiveSuns, #hcWidget16232720141810 .ratingBarInactiveSuns {
    height: 20px;
    background-color: transparent;
    background-image: url("/holidaycheck_images/element_sprite/sprite_global_de.png");
}
#hcWidget16232720141810 .ratingBarActiveSuns {
    background-position: -675px 122px;
}
#hcWidget16232720141810 .ratingBarInactiveSuns {
    background-position: -564px 122px;
    width: 101px;
    margin-right: 22px;
    margin-bottom: 5px;
}
#hcWidget16232720141810 .ratingBarSuns {
    width: 126px;
}
#hcWidget16232720141810 .ratingBarSuns span {
    float: right;
    margin-left: 3px;
    font-weight: bold;
}
#hcWidget16232720141810 .separatorLight,
#hcWidget16232720141810 .hcWidgetseparatorLight {
    margin: 12px 0 17px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #D3D9E2 #D3D9E2 #ECECEC;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    height: 0;
    padding-top: 1px;
}
#hcWidget16232720141810 .destinationWidget {
    text-align: left;
}
#hcWidget16232720141810 .destinationWidget .hcWidgetRecommandation {
    margin-top: 5px;
}
#hcWidget16232720141810 .destinationWidget .hcWidgetTitle,
#hcWidget16232720141810 .destinationWidget .hcWidgetRecommandation {
    margin-bottom: 5px;
    font-weight: bold;
}
#hcWidget16232720141810 .listingPicture {
    margin-bottom: 5px;
}
#hcWidget16232720141810 .destTemplateM .destinationWidget {
    text-align: left;
    width: 238px;
    float: left;
}
#hcWidget16232720141810 .destTemplateM .hcWidgetElem0 {
    width: 100%;
    clear: both;
}
#hcWidget16232720141810 .destTemplateM .hcWidgetElem1 {
    display: none;
}
#hcWidget16232720141810 .destTemplateM .listingPicture {
    float:left;
    margin-right: 10px;
}

#hcWidget16232720141810 .destTemplateM,
#hcWidget16232720141810 .destTemplateS {
    padding-bottom: 45px;
}
/** GLOBAL end **/

/** Templates **/
#hcWidget16232720141810 .templateXS,
#hcWidget16232720141810 .templateS,
#hcWidget16232720141810 .templateM,
#hcWidget16232720141810 .templateL,
#hcWidget16232720141810 .templateXL {
    margin: 0 auto;
    text-align:left;
}

#hcWidget16232720141810 .templateXS #hcWidgetRating {
    margin-bottom: 0;
}

#hcWidget16232720141810 .templateS #hcWidgetRating,
#hcWidget16232720141810 .templateM #hcWidgetRating,
#hcWidget16232720141810 .templateL #hcWidgetRating,
#hcWidget16232720141810 .templateXL #hcWidgetRating {
    margin-right: 10px;
}
#hcWidget16232720141810 .templateM .first,
#hcWidget16232720141810 .templateL .first,
#hcWidget16232720141810 .templateXL .first {
    margin-right: 9px;
    float:left;
}
/** Templates **/

/** Template XS Start **/
#hcWidget16232720141810 .templateXS {
    width: 140px;
}
#hcWidget16232720141810 .templateXS .hcWidgetFactboxContent {
    width: 115px;
}
/** Template S Start **/
#hcWidget16232720141810 .templateS {
    width: 230px;
}
#hcWidget16232720141810 .templateS .hcWidgetFactboxContent {
    width: 85px;
}
#hcWidget16232720141810 .templateS #hcWidgetLinks,
#hcWidget16232720141810 .templateS #hcWidgetImage,
#hcWidget16232720141810 .templateS #hcWidgetHeadline {
    text-align: center;
}
#hcWidget16232720141810 .templateS .first {
    margin-right: 5px;
    float:left;
}
/** Template S Ende **/

/** Template M Start **/
#hcWidget16232720141810 .templateM {
    width: 290px;
}
#hcWidget16232720141810 .templateM .hcWidgetFactboxContent {
    width: 115px;
}
#hcWidget16232720141810 .templateM #hcWidgetLinks,
#hcWidget16232720141810 .templateM #hcWidgetImage,
#hcWidget16232720141810 .templateM #hcWidgetHeadline {
    text-align: left;
    float:left;
}
#hcWidget16232720141810 .templateM #hcWidgetLinks {
    margin-bottom: 10px;
}
/** Template M Ende **/

/** Template L / XL Start **/
#hcWidget16232720141810 .templateL,
#hcWidget16232720141810 .templateXL {
    width: 445px;
}
#hcWidget16232720141810 .templateL h1,
#hcWidget16232720141810 .templateXL h1 {
    height: 40px;
}
#hcWidget16232720141810 .templateL .leftLeft,
#hcWidget16232720141810 .templateXL .leftLeft {
    margin-top: 54px;
    float:left;
}
#hcWidget16232720141810 .templateL .hcWidgetRight,
#hcWidget16232720141810 .templateXL .hcWidgetRight {
    width: 290px;
    float:left;
}
#hcWidget16232720141810 .templateL .hcWidgetFactboxContent,
#hcWidget16232720141810 .templateXL .hcWidgetFactboxContent {
    width: 115px;
}
/** Template L / XL Ende **/

/** Template XL Start **/
#hcWidget16232720141810 .contentXL {
    width: 100%;
}
#hcWidget16232720141810 .contentXL .ratingBarInactiveSuns {
    float:right;
    margin-right: 0;
}
#hcWidget16232720141810 .contentXL .reviewTextSnippet {
    clear : both;
    padding-top: 10px;
    padding-bottom: 10px;
}
#hcWidget16232720141810 .contentXL .ratingBarSuns span {
    font-size: 16px;
    font-weight: bold;
}
#hcWidget16232720141810 .contentXL .reviewListTitle,
#hcWidget16232720141810 .contentXL .reviewListAdditionalData {
    float:left;
}
#hcWidget16232720141810 .contentXL .reviewListAdditionalData .reviewListDate,
#hcWidget16232720141810 .contentXL .reviewListAdditionalData .reviewListUserData {
	display: inline;
}
#hcWidget16232720141810 .contentXL .reviewListAdditionalData .userdata {
    margin-left: 5px;
}
#hcWidget16232720141810 .contentXL .reviewListRead {
    float:right;
}
/** Template L / XL Ende **/

/** Template XL Start **/
#hcWidget16232720141810 .contentXL #hcWidgetLinks {
    padding-right: 10px;
}
#hcWidget16232720141810 .contentXL .reviewListRating {
    float: right;
}
#hcWidget16232720141810 .contentXL .listitemBox .box {
    margin-bottom: 10px;
}

#hcWidget16232720141810 .contentXL .thumbSpaceBig,
#hcWidget16232720141810 .contentXL .thumbSpaceSmall,
#hcWidget16232720141810 .contentXL .thumbUpSmall,
#hcWidget16232720141810 .contentXL .thumbDownSmall,
#hcWidget16232720141810 .contentXL .peopleSingle,
#hcWidget16232720141810 .contentXL .peopleCouple,
#hcWidget16232720141810 .contentXL .peoplefamily {
    background-color: transparent;
    background-image: url("/holidaycheck_images/element_sprite/sprite_rates.gif");
}

#hcWidget16232720141810 .contentXL .peopleSingle {
    background-position: -129px -89px;
    height: 28px;
    width: 25px;
}
#hcWidget16232720141810 .contentXL .peopleCouple {
    background-position: -58px -89px;
    height: 28px;
    width: 33px;
}
#hcWidget16232720141810 .contentXL .peoplefamily {
    background-position: -93px -89px;
    height: 28px;
    width: 35px;
}
#hcWidget16232720141810 .contentXL .userReviewTitle, #hcWidget16232720141810 .contentXL .ratingBarSuns {
    float:left;
}
#hcWidget16232720141810 .contentXL .userInfoBox {
    width: 140px;
    float:left;
}
/** Template XL Ende **/